
#bannerImage{
    padding-top:75px;
    padding-bottom:50px;
    margin-bottom: 0px;
    text-align:center;
    color: rgba(236, 236, 48, 0.897);
    background:url(img/bg.jpeg);
    background-size:cover;
}

#bannerImage h4{
    margin-bottom: 40px;
}

#bannerContent{
    position:relative;
    padding-top:6%;
    padding-bottom:6%;
    margin-top:12%;
    margin-bottom:12%;
    background-color:rgba(0,0,0,0.7);
    max-width:660px;
}






@media screen and (max-width:576px){
    .cat{
        width: 18rem;
        align-content: center;
    }
    #brand_name{
        font-size: 20px;
    }
    
    
}
@media screen and (max-width:768px){
    
}
@media screen and (max-width:992px){
    
}
@media screen and (max-width:1200px){
    
}
