.card {
	height: auto;
}
#signupbtn {
	background-color: #ec7a27;
}
#loginbtn {
	background-color: #ec7a27;
}
#login {
	margin-top: 15px;
}
.form-control {
	margin-top: 5px;
}
.form-group {
	margin-top: 5px;
}
.form-group label {
	text-align: right !important;
}
@media screen and (max-width: 768px) {
	.form-group label {
		text-align: left !important;
	}
}

.form-check {
	margin-top: 5px;
}
#signup {
	margin-top: 20px;
	text-align: center;
}
h2 {
	text-align: center;
}
.container {
	margin-bottom: 30px;
}
#have-account {
	margin-top: 10px;
	text-align: center;
}
.checkEmail {
	color: red;
}
.red-message {
	color: red;
}
span {
	width: 100%;
	display: flex;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 2px;
	align-items: center;
}
