body{
    .breadcrumb{
        padding: 20px;
    }

    .item-info-div{
        margin: 2vw;
        padding: 10px 20px 10px 20px;
        border: 2px solid rgba($color: rgb(179, 162, 162) , $alpha: .5);
        
        .row {
            .item-imgs{
                .row{
                    .first-img-column{
                        .row{
                            .col{
                                padding: 0 2px 5px 2px;
                                .small-images{
                                    padding: 0 2px 5px 0;
                                }
                            }
    
                        }
                    }
    
                    .second-img-column{
                        padding: 0 2px 5px 2px;
                        .large-images{
                            padding: 0 5px 5px 0;
                        }
                    }
                }
            }
    
            .details{
                .price {
                    h5 {
                        font-size: 1em;
                    }
                }

                .sizes {
                    .btn-group{
                        width: auto;
                        display: flex;

                        .btn-outline-primary{
                            margin: 0 2px 0px 2px;
                            border-color: orange;
                            color: orange;

                            &:hover{
                                background-color: orange;
                                color: black;
                            }
                        }

                        .size-error {
                            margin: 6px 20px;
                            color: red;
                        }

                    }
                }
                
                .qty-and-add-to-card{

                    padding: 19px 2px;
                    .qty{
                        .fa{
                            cursor: pointer;
                            font-size: 2em;
                        }

                        .qtyInput {
                            width: 31px;
                            padding: 0px 3px 0px 5px;
                            margin: 0px 3px 0px 4px;
                            font-size: 2em;
                        
                        }

                        .qtyInput::-webkit-inner-spin-button{
                            -webkit-appearance: none;
                        }
                    }

                    .add-to-cart{

                        .btn-danger {
                            padding: 6px;
                            font-weight: 700;
                            font-size: 1.5em;
                            border-radius: 0.20em;
                            color: e6dbdb;
                            background-color: rgb(226, 197, 159);
                            border-color: rgb(226, 197, 159);
                            
                            &:hover{
                                background-color: rgb(218, 165, 51);
                            }
                       
                        }


                    }

                }

                .tags{
                    .bg-primary{
                        padding: 5px 4px;
                        width: 7em;
                        font-size: 1em;
                        margin: 4px;    
                        background-color: rgb(218, 165, 51) !important;             
                    }
                }
            }
        }
    }

    .shop-services{
        padding:60px 0;
        background:#F6F7FB;

        .single-service{
            position: relative;
            padding-left: 65px;

            i {
                height: 50px;
                width: 50px;
                line-height: 50px;
                text-align: center;
                color: #333;
                background: transparent;
                border-radius: 100%;
                display: block;
                font-size: 32px;
                position: absolute;
                left: 0;
                top: 0;
            }

            h4 {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 22px;
                color: #333;
            }

            p {
                color: #898989;
                line-height: 28px;
                font-size:14px;
            }
        }
    }

    .related-products{
        h3{
            text-align: center;
            font-weight: 600;
        }
        .card{
            padding: 15px;
            width: 18rem;
            margin: 5px;

            .card-body{
                padding: 1rem 0;
                
                .card-text{
                    color: orange;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    body{
        .item-info-div{
            .row{
                .details{
                    .qty-and-add-to-card{
                        .add-to-cart{
                            .btn-danger{
                                font-size: 1em;
                            }
                        }

                        .qty{
                            .fa{
                                font-size: 2.2em;
                            }

                            .qtyInput{
                                width: 31px;
                                font-size: 2em;
                            }
                        }
                    }
                }
            }
        }

        .related-products{
            .card{
                width: 10rem;
                margin: 3px;
            }
        }
    }



}


@media only screen and (max-width:576px) {

    body{
        .item-info-div{
            .row{
                .details{
                    .qty-and-add-to-card{
                        .qty{
                            .fa{
                                font-size: 1.2em;
                            }

                            .qtyInput{
                                width: 22px;
                                font-size: 1em;
                            }
                        }
                        .add-to-cart{
                            .btn-danger{
                                font-size: 0.6em;
                            }
                        }
                    }
                }
            }
        }


        .related-products{
            .card{
                margin: 5px;
                padding: 5px;
                .card-body{
                    .card-text{
                    }
                }
            }
    
        }
    }

}
