body .breadcrumb {
  padding: 20px;
}

body .item-info-div {
  margin: 30px;
  padding: 10px 20px 10px 20px;
  border: 2px solid rgba(179, 162, 162, 0.5);
}

body .item-info-div .row .item-imgs .row .first-img-column .row .col {
  padding: 0 2px 5px 2px;
}

body .item-info-div .row .item-imgs .row .first-img-column .row .col .small-images {
  padding: 0 2px 5px 0;
}

body .item-info-div .row .item-imgs .row .second-img-column {
  padding: 0 2px 5px 2px;
}

body .item-info-div .row .item-imgs .row .second-img-column .large-images {
  padding: 0 5px 5px 0;
}

body .item-info-div .row .details .sizes .btn-group {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .item-info-div .row .details .sizes .btn-group .btn-outline-primary {
  margin: 0 2px 0px 2px;
  border-color: orange;
  color: orange;
}

body .item-info-div .row .details .sizes .btn-group .btn-outline-primary:hover {
  background-color: orange;
  color: black;
}

body .item-info-div .row .details .qty-and-add-to-card .qty .fa {
  padding: 30px 0 10px 0;
  cursor: pointer;
}

body .item-info-div .row .details .qty-and-add-to-card .qty .qtyInput {
  width: 31px;
  padding: 0px 3px 0px 5px;
  margin: 0px 3px 0px 4px;
  font-size: 2em;
}

body .item-info-div .row .details .qty-and-add-to-card .qty .qtyInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body .item-info-div .row .details .qty-and-add-to-card .add-to-cart {
  padding: 20px 10px 20px 10px;
}

body .item-info-div .row .details .qty-and-add-to-card .add-to-cart .btn-danger {
  padding: 6px;
  font-weight: 700;
  font-size: 1.5em;
  border-radius: 0.50em;
}

body .item-info-div .row .details .tags .bg-primary {
  padding: 5px 4px;
  width: 7em;
  font-size: 1em;
  margin: 4px;
}

body .shop-services {
  padding: 60px 0;
  background: #F6F7FB;
}

body .shop-services .single-service {
  position: relative;
  padding-left: 65px;
}

body .shop-services .single-service i {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  background: transparent;
  border-radius: 100%;
  display: block;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 0;
}

body .shop-services .single-service h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
  color: #333;
}

body .shop-services .single-service p {
  color: #898989;
  line-height: 28px;
  font-size: 14px;
}

body .related-products h3 {
  text-align: center;
  font-weight: 600;
}

body .related-products .card {
  padding: 15px;
  width: 18rem;
  margin: 5px;
}

body .related-products .card .card-body {
  padding: 1rem 0;
}

body .related-products .card .card-body .card-text {
  color: orange;
}

@media only screen and (max-width: 768px) {
  .related-products .card {
    width: 10rem;
    margin: 3px;
  }
}

@media only screen and (max-width: 576px) {
  .related-products .card {
    margin: 5px;
    padding: 5px;
  }
  .related-products .card .card-body .card-text {
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */